
@{
    ViewData["Title"] = "Bytt lösenord";
}

<h2>Bytt lösenord</h2>

<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Ditt lösenord har nu ändrats.
</div>

<div>
    @Html.ActionLink("Tillbaka", "Index", "Home", null, new { @class = "btn btn-info" })
</div>
